@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  body {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.medium");
    font-size: theme("fontSize.md");
  }

  h1 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.semibold");
    font-size: theme("fontSize.6xl");
  }

  h2 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.semibold");
    font-size: theme("fontSize.5xl");
  }

  h3 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.semibold");
    font-size: theme("fontSize.4xl");
  }

  h4 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.3xl");
  }

  h5 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.2xl");
  }

  h6 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.xl");
  }

  h6 {
    font-family: theme("fontFamily.poppins");
    font-weight: theme("fontWeight.bold");
    font-size: theme("fontSize.xl");
  }

  .text-balance {
    text-wrap: balance;
  }
}
